@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

$font: 'Poppins';

$grey: #eeefef;
$blue: #5692fe;
$purple: #a456fe;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    overflow-x: hidden;
}